<div class="sidebar open" >
    <div class="logo-details">
        <i class='bx bx-code-alt icon'></i>
        <div class="logo_name">Poll Booth</div>
        <i class='bx bx-menu-alt-right' id="btn" ></i>
    </div>
    <ul class="nav-list">

    <li class="li_dashboard">
        <a href="/Dashboard">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
    </li>

    <li class="li_teams">
        <a href="/Teams">
        <i class='bx bx-group'></i>
        <span class="links_name">Teams</span>
        </a>
        <span class="tooltip">Teams</span>
    </li>

    <li class="li_polls">
        <a href="/Polls">
        <i class='bx bx-poll'></i>
        <span class="links_name">Polls</span>
        </a>
        <span class="tooltip">Polls</span>
    </li>

    <li>
        <a href="/Logout">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Logout</span>
        </a>
        <span class="tooltip">Logout</span>
    </li>

    <!--<li>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
            <i class='bx bxs-skull'></i>
            <span class="links_name">Danger</span>
        </a>
        <span class="tooltip">Danger</span>
    </li>-->

    <li class="profile">
        <div class="profile-details">
        <!--<img src="assets/mypict1.jpg" alt="profileImg">-->
        <div class="name_job">
            <a href="https://thilak-07.github.io/Thilak/">
                <div class="name">Thilák Kumar</div>
            </a>
            <div class="job">Delta Inductions</div>
        </div>
        </div>
        <i class='bx bx-info-circle' id="info" ></i>
    </li>

    </ul>
</div>

